.cog-branding.cog-branding--minimal, .cog-abuse.cog-wrapper { display: none !important; }


.logo-container {
  /* This is the key part for fixed positioning */
  position: fixed;
  top: 15px;
  width: 100%; /* Make the container span the full width */
  z-index: 1000; /* Ensure the logo is on top of other content */

  /* These Flexbox properties center the child element */
  display: flex;
  justify-content: center; /* This centers the logo horizontally */
}


